@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------colors*/
.bg-color-name-title {
    background-color: #676767;
}

.bg-color-three-reasons {
    background-color: #000000;
    color: #ffffff;
}

.ui-menu-color-home {
    background-color: #323232;  
}

.ui-menu-color-resumi {
    background-color: #444243;
}

.ui-menu-color-contact {
    background-color: #646263;
}

.ui-menu-color-download {
    background-color: #888888;
}

main {
    background-color: #000000;
}

.key {
    color: #ffffff;
}

.value {
    color: #ffffff;
}



/*--------------------------------Special paddings, margins*/
h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    color: #ffffff;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
/*--------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 45px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

ul li {
    font-size: 15px;
    padding: 0;
}

.menuitem {
    height: 180px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 180px;
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    color: #fafafa;
    font-size: 25px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------Hover.css*/

.hvr-bounce-to-bottom::before {
    background-color: #e84610;
}

.hvr-bounce-to-top::before {
    background-color: #e84610;
}

/* ----------------------------------------Footer */

footer {
    background-color: #676767;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.footer-content {
    font-family: "Exo", sans-serif;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

/* ----------------------------------------Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #e84610;
}

.three-reasons-heading {
    margin-bottom: 15px;
}